<div class = "gamedetails">
<div class ="gamedetails-banner">
<img
class="gamedetails-banner-img"
src= "{{game.background_image}}"
alt="background image"
/>
</div>
<div class ="gamedetails-content">
<div class ="gamedetails-wrapper">
<div class ="gamedetails-header">
    <h1 class ="gamedetails-header-title"> {{game.name}} </h1>
    <h2 class="gamedetails-header-release-date">
        Release: {{game.released | date }} 
    </h2>
        <p class= "gamedetails-header-genres">
        <span *ngFor= "let genre of game.genres; let last = last"
        >{{genre.name}}<span *ngIf= "!last">,</span></span>
        >
        </p>
        <div class="gamedetails-gauge">
          <mwl-gauge
            class= "two"
            [max]= "100"
            [dialStartAngle]= "180"
            [dialEndAngle]= "0"
            [value]= "GRating"
            [animated]= "true"
            [color]= "getGameColor"
            [animationDuration]="3"
            >
        </mwl-gauge>
  <a
  class ="gamedetails-gauge-label"
  target="_blank"
  href = "{{game.metacritic_url}}"
  >Metacritic</a>

        </div>
    </div>
    <app-gamedetailstabs [game]="game"></app-gamedetailstabs>
    </div>
</div>
</div>