
.container {
  color: white;

  h2 {
    color: white;
  }

  .form-group label {
    color: white;
  }

  .form-control {
    color: black;
    background-color: white;
  }

  .btn-primary {
    background-color: grey;
    color: white;
  }
}